#contact_modal {
    display: none;
}

.photographer-header {
    background-color: #FAFAFA;
    height: 150px;
    margin: 0px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 50px;
}

.photographer-header__infos img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.photographer-section__portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.photographer-section__portfolio article img,
.photographer-section__portfolio article video {
    height: 300px;
    width: 350px;
}

.photographer-section__portfolio article div{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.photographer-section__portfolio article div h3{
    color: #901C1C;
}

.photographer-section__portfolio article div p::after{
    content: ' \f004';
    font-family: FontAwesome;
    color: #901C1C;
}

.photographer-encart{
    background-color: #DB8876;
    width: 376px;
    position: fixed;
    bottom: 0px;
    right: 30px;
    padding: 10px 30px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}