@import url("photographer.css");

/************
****** GENERAL
*************/

*:focus{
    outline: 2px solid black;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/************
****** HEADER
*************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header a {
    margin-left: 100px;
}

.logo {
    width: 200px;
    height: 50px;
}

header h1 {
    color: #901C1C;
    margin-right: 100px;
}


/************
****** PHOTOGRAPHERS
*************/

.photographers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 70px;
    margin-top: 100px;
}

.photographers article {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographers article a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographers article a h2 {
    font-size: 36px;
    margin: 20px 0px 8px 0px;
}

.photographer-name {
    color: #D3573C;
}

.photographer-portrait {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.photographers article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photographers article div h3 {
    font-size: 13px;
}

.photographer-city {
    color: #901C1C;
    margin: 5px 0px;
}

.photographers article div p{
    font-size: 10px;
    margin: 5px 0px;
}

.photographers article div p:nth-of-type(2) {
    color: #757575;
}